{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            <img src="{{ .Site.Params.Portrait.Dark.Path }}" class="darklogo">

            <img src="{{ .Site.Params.Portrait.Light.Path }}" class="lightlogo" >
            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            <div class="recent">
                <h2>{{.Site.Params.homeRecent}}</h2>
                <ul class="recent-list">
                {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
                    <div class="recent-group">
                            <li class="post-item">
                                <a href="{{.Permalink}}" class="post-item-inner">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">
                                      {{ .Date.Format "2006 Jan 02"}}
                                    </span>
                                </a>
                                <span>
                                    {{ .Summary }}
                                </span>
                                <div class="post-info">
                    <div >
                      <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                          <circle cx="12" cy="12" r="10"></circle>
                          <polyline points="12 6 12 12 16 14"></polyline>
                        </svg>
                        {{ i18n "readingTime" .Page.ReadingTime }}

                        {{ if .IsTranslated }} | {{ i18n "postAvailable" }}
                          {{ range .Translations }}
                              <a href="{{ .Permalink }}"><span class="flag fi fi-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a>
                          {{ end}}
                        {{ end }}
                      </p>
                    </div>
                <div >
                  {{ partial "tags.html" .Params.tags }}
                </div>

                                </div>
                            </li>
                    </div>
                 {{ end }}
                </ul>
              </div>
        </div>
    </main>
{{ end }}
